<footer class="footer border-top text-muted text-center ">
    <div class="container">
        Copyright &copy; SazaLibrary @DateTime.Now.Year
        <email-helper email="testingtesting3423@gmail.com"></email-helper>
    </div>
</footer>