################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CORE_BookStore/.vs/CORE_BookStore
/CORE_BookStore/CORE_BookStore/bin/Debug/netcoreapp3.1
/CORE_BookStore/CORE_BookStore/obj
/CORE_BookStore/CORE_BookStore/wwwroot/lib
